.img{
   min-width: 200;
}

.card {
    display: flex;
    margin-bottom: 20px;
}

.mediaBody{
    padding: 30px;
}

.showNo {
    float: right;
}

.createdAt {
    font-size: small;
}

.delete {
    float: right;
}

.name {
    color: black;
}