.card {
    text-align: center;
}

.cardImg {
    margin: auto;
    width: 80px;
    height: 70px;
}

.signout {
    float: left;
    cursor: pointer;
}

.edit {
    float: right;
    cursor: pointer;
}
